<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- As a link -->
    <nav class="navbar navbar-light bg-dark ">
        <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
        <span class="quote text-light">Giving you freedom...</span>
    </nav>

    <h1 style="color: white;">Welcome {{user}}!!!!</h1>
    <a routerLink='/transaction'>View Transaction history</a>

    <div class="container col-md-12 mt-0">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Deposit Form</h3>

                </div>
                <div class="card-body">
                    <form (ngSubmit)="deposit()" onsubmit="event.preventDefault();bank.authenticate()">
                        <!-- acno  -->
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input [(ngModel)]="acno" name="acno" type="text" class="form-control"
                                placeholder="Account Number" id="login_accno" required>

                        </div>
                        <!-- pswd -->
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input [(ngModel)]="pswd" type="password" name="pswd" class="form-control"
                                placeholder="password" id="login_password" required>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input [(ngModel)]="amount" name="amount" type="text" class="form-control"
                                placeholder="Amount" id="login_amount" required>

                        </div>

                        <div class="form-group">
                            <input type="submit" value="Deposit" class="btn float-right login_btn " style="width:50%">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- withdraw -->

    <div class="container col-md-12 mt-0">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Withdraw Form</h3>

                </div>
                <div class="card-body">
                    <form (ngSubmit)="withdraw()" onsubmit="event.preventDefault();bank.authenticate()">
                        <!-- acno  -->
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input [(ngModel)]="acno1" name="acno1" type="text" class="form-control"
                                placeholder="Account Number" id="login_accno1" required>

                        </div>
                        <!-- pswd -->
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input [(ngModel)]="pswd1" type="password" name="pswd1" class="form-control"
                                placeholder="password" id="login_password1" required>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input [(ngModel)]="amount1" name="amount" type="text" class="form-control"
                                placeholder="Amount" id="login_amount1" required>

                        </div>

                        <div class="form-group">
                            <input type="submit" value="Withdraw" class="btn float-right login_btn " style="width:50%">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src=""></script>
</body>

</html>