table,tr,td,th{
    color:white;
    border:white 2px solid;
    padding:10px;
    font-size: 25px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
}
.a1{
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    
}
